body {
    background-color: #f7fafc;
    
}

.contenedor {
    margin: 0 auto;
    max-width: 80%;
}

.contenedor-sm {
    margin: 0 auto;
    max-width: 60%;
}

h2 {
    font-size: 2rem;
    text-align:  center;
    padding: 5rem 0; 
}

.div-btn {
    margin: 0 auto;
    display: flex;
    align-items: center;

    a {
        display: inline-block;
        margin: 0 auto;
        padding: .5rem 2rem;
        border-width: 1px;
        border-color: #5d5d5d;
        transition: background-color ease 400ms;

        &:hover {
            background-color: #c53030;
            color: white;
        }
    }


}


/* header */
.header {
    background-color: black;

    .navigation {
        position: fixed;
        top: 0;
        background-color: black;
        z-index: 9999;
        
        width: 100%;

        &-top {
            display: flex;
            justify-content: flex-end;
            a {
                color: #cbd5e0;
                padding: .5rem 1.5rem;
                &:hover {
                    color: white;
                    transition: all 400ms;
                }
            }
        }

        hr {
            border-color: #5d5d5d;
        }

        &-flex {

            display: flex;
            justify-content: space-between;
            color: white;
            align-items: center;

            .nav-1 {
                a {
                    display: block;
                    text-align: center;
                    font-size: 2rem;
                    padding: 1rem 3rem 0;

                    &:hover {
                        span {
                            color: #c53030;
                            transition: all 400ms;
                        }
   
                        
                    }

                }
                p {
                    text-align: center;
                    color: #cbd5e0;
                    margin-top: 0;
                    padding-bottom: 1rem;

                    &:hover {
                        color: #c53030;
                        transition: all 400ms;
                    }
                }
            }

            .nav-2 {
                ul {
                    display: flex;
                    gap: 1rem;
                    padding: 0 3rem;

                    li {
                        a {
                            color: #cbd5e0;
                            padding: .7rem;
                            border-radius: 0 .5rem;

                            &:hover {
                                color: white;
                                background-color: #c53030;
                                transition: all 400ms;
                                
                            }
                        }
                    }
                }
            }

        }
    }

}


/* video banner */

.banner-home {

    position: relative;
    video {
        width: 100%;
        filter: brightness(50%); // Más oscura
    }

    &-absolute {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        
        bottom: 0;
        margin: auto;
        padding: 3rem;
        color: white;

        h3 {
            font-size: 3rem;
            &:hover {
                span {
                    color: #c53030;
                    transition: all 400ms;
                }

            }
        }

        p {
            font-size: 1.3rem;
            color: #cbd5e0;
            &:hover {
                span {
                    color: #c53030;
                    transition: all 400ms;
                }

            }

        }

        .btn {
            background-color: #c53030;
            padding: .5rem 1rem;
            border-radius: 0 1rem;
            margin-top: 1rem;
        }
    }

}


/* properties-featured */

.properties-featured {
    margin: 0 auto 5rem;



    &__child {
        display: flex;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        
        .property-box {
            width: 30rem;
            max-width: 40rem;
            background-color: #e2e8f0;
            height: auto;
            padding: .2rem; 
            overflow: hidden;

            &__img {

                position: relative;

               img {
                   position: relative;
                   background-position: cover;
                   margin: 0 auto;
                   min-width: 10rem;
                   max-width: 100%;
                   filter: grayscale(1);
                   transition: filter 400ms ease-in-out;

                &:hover {
                  filter: grayscale(0);
                  cursor: pointer;

                     & + .image-title {
                       color: white;
                     }

                }

               }

               .image-title {
                    z-index: 3;
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    color: black;
                    font-size: 1.5rem;
                    transition: color 400ms ease-in-out;
                }

            }

            .attributtes {
                font-size: 1.2rem;
                padding: .5rem 1rem 0;
            }

            .price {
                padding: 0 1rem;
                font-size: 1.5rem;
                color: #c53030;
                font-weight: 500;
            }
        }

    }
}


/* properties-featured */

.join-the-team {
    margin: 0 auto 5rem;
    position: relative;
    background-image: url('/public/frontend/assets/img/banner-home.jpg');
    background-size: cover;
    width: auto;
    height: 20rem;
    filter: brightness(80%);

    &__child {
        position: absolute;
        left: 0;
        right: 0;

        h2 {
            color: white;
            
        }
        .btn-sumate {
            color: white;
        }
    }
    
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3); /* Color de fondo oscuro */
        mix-blend-mode: multiply; /* Mezcla para oscurecer */
        z-index: -1; /* Colocar detrás del contenido */
    }
}